# Node modules
node_modules/

# pnpm store and lockfile
.pnpm-store/
pnpm-lock.yaml

# Build output
build/
out/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor and OS specific files
.DS_Store
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.local
.env.*.local

.git
